main {
    background-color: #ea92d8;
    background-image: url('../../img/syifa-medika.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: lighten;
}